backports.entry-points-selectable
buildozer
certifi
charset-normalizer
Cython
distlib
docutils
filelock
idna
Kivy
Kivy-Garden
kivymd
pexpect
Pillow
platformdirs
ptyprocess
Pygments
pymitter
requests
sh
six
urllib3
virtualenv
wrapt
termcolor
tensorflow
keras